  

    <link rel="stylesheet" href="static/css/bootstrap.css">
     <title>Ceasar Palace</title>
    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" /> {{ moment.include_jquery() }} {{ moment.include_moment() }}

{% block content %}
 <div class="container">
        <div class="header">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Ceasar's</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li role="presentation" class="active"><a href="/">Home</a></li>
                            {% if current_user.is_authenticated %}
                            <li role="presentation"><a href="{{ url_for('user_page_app.logout') }}">Log Out</a></li>
                            {% else %}
                            <li role="presentation"><a href="{{ url_for('user_page_app.login') }}">Log In</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="jumbotron" style="background-color: #1f2224;">
    {% if error %}
        <h5 style="color:red;">Error: {{ error }} </h5>
    {% endif %}
    <h1 style="text-align: center; color: #eeeeee;" >Search Rooms</h1>
        <form action="" method="post" name="createReservation">
                {{ form.hidden_tag }}
                <div class="form-group">

                </div>
                <div class="form-group row" >
                    <h4 class="col-md-2 text-left" style="margin-left: 30vmin;color: #eeeeee;"">Location</h4>
                    <div class="text-left col-md-6" style="margin-left: 1vmin;">
                        {{ form.location(class_="form-control") }}
                    </div>
                </div>
            <div class="row" >
                <div class="form-group text-left col-md-6">
                    <h4 style="margin-left: 20vmin;color: #eeeeee;"">Start Date</h4>
                        {{ form.stdt(type = 'date',class='datepicker', style='margin-left:20vmin;') }}
                </div>
                <div class="form-group text-right col-md-6" >
                    <h4 style="margin-right: 20vmin;color: #eeeeee;"">Checkout Date</h4>
                        {{ form.enddt(type = 'date',class='datepicker', style='margin-right:20vmin;') }}
                </div>
            </div >
                {{ form.search(class_="btn btn-default right-align ", style="margin-left:45vmax;") }}
        </form>
    </div>

{% endblock %}