{% extends "index/index.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/signin.css">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

{% endblock %}

{% block content %}
    <div style=" background: url({{url_for('static', filename='images/bg-2.jpg')}}); height:100vh; overflow: hidden;">

    <div class="container" style="background-color: #1f2224;">
             <form class="form-signin" action="" method="post" name="login">
                {{ form.hidden_tag }}
                {% if error %}
                    <h5 style="color:red;">Error: {{ error }} </h5>
                {% endif %}
                <h2 class="form-signin-heading" style="color: #eeeeee">Log in</h2>
                  <div class="form-group">
                        {{ form.username(class_="form-control", placeholder="Username") }}
                  </div>
                <div class="form-group">
                    {{ form.password(class_="form-control", placeholder="Password") }}
                </div>
                    <p>{{ form.remember_me }} <span style="color: #eeeeee">Remember Me</span></p>
                {{ form.sign_in(class_="btn btn-default") }}
                <div class="form-group ">
                    <a href="{{ url_for('user_page_app.signup') }}">New User? Sign up here!</a>
                </div>
          </form>

      </div>
      </div>
{% endblock %}